.backgrond-body-info {
  background-color: #151515;
  height: 600px;
  width: 100vw;
  border-bottom: 1px solid rgb(134, 134, 134);
  border-top: 1px solid rgb(134, 134, 134);
  margin: 0 auto;
  padding-top: 60px;
}
.backgrond-body-info {
  display: flex;
  .content-position {
    display: flex;
    .content-info {
      margin-top: 100px;
      padding-top: 20px;
      display: block;
      color: rgb(199, 198, 198);
      .styles-welcome p {
        text-align: center;
        color: rgb(224, 162, 68);
        text-shadow: black 0.1em 0.1em 0.1em;
        font-size: 30px;
        font-family: "Dancing Script", cursive;
      }
      .styles-contact {
        margin-top: 130px;
        .styles-contact p {
          font-family: "Lora", serif;
        }
      }
    }
    .content-gallery {
      display: flex;
      position: relative;
      margin-top: 40px;
      .background-info-img1 {
        height: 300px;
      }
      .background-info-img2 {
        height: 300px;
        width: 300px;
        margin-top: 140px;
        margin-left: -100px;
        border: 8px solid white;
      }
    }
  }
}
