@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes example {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes example1 {
  from {
    opacity: 0;
    left: -400px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

@keyframes example2 {
  from {
    opacity: 0;
    top: 80px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

.backgrond-body {
  display: block;

  margin: 0 auto;
  overflow: hidden;
  height: 40vw;
  padding-bottom: 40px;
  width: 100vw;
  img {
    width: 100vw;
    height: 600px;
    margin: 0 auto;
    // opacity: 0.8;
  }
  .bgc-body-img-zoom {
    animation: zoominoutsinglefeatured 20s alternate;
    display: block;
  }

  .container-body {
    margin-top: -420px;
    position: relative;
    display: block;
    text-align: center;
    span {
      display: block;
      margin-top: 44px;
      color: #ffffff;
      text-shadow: black 0.1em 0.1em 0.1em;
      font-family: "Caveat", cursive;
    }
    .text-kitchen {
      font-size: 46px;
      padding: 10px;
      animation-name: example;
      animation-duration: 2s;
      position: relative;
      font-family: "Caveat", cursive;
    }
    .text-pizza {
      font-size: 65px;
      font-weight: 900;
      color: white;
      font-family: "Lora", serif;
      animation-name: example1;
      animation-duration: 4s;
      position: relative;
    }
    .border-bottom {
      border-bottom: 4px solid #e58b07;
      width: 80px;
    }
    button {
      margin-top: 60px;
      color: white;
      background-color: #e58b07;
      width: 230px;
      height: 50px;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid gray;
      border-radius: 4px;
      animation-name: example2;
      animation-duration: 6s;
      position: relative;
    }
    button:hover {
      cursor: pointer;
      background-color: #a56504;
      transition: 0.4s;
    }
  }
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
  .backgrond-body {
    height: 40vw;
    img {
      width: 100vw;
      height: 40vw;
      margin: 0 auto;
    }
    .bgc-body-img-zoom {
      animation: zoominoutsinglefeatured 20s alternate;
      display: block;
    }

    .container-body {
      span {
      }
      .text-kitchen {
        font-size: 40px;
        margin-top: 63px;
        padding: 10px;
        animation-name: example;
        animation-duration: 2s;
        position: relative;
      }
      .text-pizza {
        font-size: 55px;
        font-weight: 900;
        color: white;
        font-family: "Lora", serif;
        animation-name: example1;
        animation-duration: 4s;
        position: relative;
      }
      .border-bottom {
        border-bottom: 4px solid #e58b07;
        width: 80px;
      }
      button {
        margin-top: 60px;
        color: white;
        background-color: #e58b07;
        width: 230px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 4px;
        animation-name: example2;
        animation-duration: 6s;
        position: relative;
      }
      button:hover {
        cursor: pointer;
        background-color: #a56504;
        transition: 0.4s;
      }
    }
  }
}
@media all and (min-width: 1000px) and (max-width: 1200px) {
  .backgrond-body {
    height: 40vw;
    img {
      width: 100vw;
      height: 40vw;
      margin: 0 auto;
    }
    .bgc-body-img-zoom {
      animation: zoominoutsinglefeatured 20s alternate;
      display: block;
    }

    .container-body {
      span {
      }
      .text-kitchen {
        font-family: "Caveat", cursive;
        font-size: 35px;
        margin-top: 94px;
        padding: 10px;
        animation-name: example;
        animation-duration: 2s;
        position: relative;
      }
      .text-pizza {
        font-size: 48px;
        font-weight: 900;
        color: white;
        font-family: "Lora", serif;
        animation-name: example1;
        animation-duration: 4s;
        position: relative;
      }
      .border-bottom {
        border-bottom: 4px solid #e58b07;
        width: 80px;
      }
      button {
        margin-top: 42px;
        color: white;
        background-color: #e58b07;
        width: 230px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 4px;
        animation-name: example2;
        animation-duration: 6s;
        position: relative;
      }
      button:hover {
        cursor: pointer;
        background-color: #a56504;
        transition: 0.4s;
      }
    }
  }
}
@media all and (min-width: 900px) and (max-width: 1000px) {
  .backgrond-body {
    height: 40vw;
    img {
      width: 100vw;
      height: 40vw;
      margin: 0 auto;
    }
    .bgc-body-img-zoom {
      animation: zoominoutsinglefeatured 20s alternate;
      display: block;
    }

    .container-body {
      span {
      }
      .text-kitchen {
        font-family: "Caveat", cursive;
        font-size: 35px;
        margin-top: 123px;
        padding: 10px;
        animation-name: example;
        animation-duration: 2s;
        position: relative;
      }
      .text-pizza {
        font-size: 45px;
        font-weight: 900;
        color: white;
        font-family: "Lora", serif;
        animation-name: example1;
        animation-duration: 4s;
        position: relative;
      }
      .border-bottom {
        border-bottom: 4px solid #e58b07;
        width: 80px;
      }
      button {
        margin-top: 35px;
        color: white;
        background-color: #e58b07;
        width: 200px;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 4px;
        animation-name: example2;
        animation-duration: 6s;
        position: relative;
      }
      button:hover {
        cursor: pointer;
        background-color: #a56504;
        transition: 0.4s;
      }
    }
  }
}

@media all and (min-width: 750px) and (max-width: 900px) {
  .backgrond-body {
    height: 40vw;
    img {
      width: 100vw;
      height: 40vw;
      margin: 0 auto;
    }
    .bgc-body-img-zoom {
      animation: zoominoutsinglefeatured 20s alternate;
      display: block;
    }

    .container-body {
      span {
        margin: 0;
      }
      .text-kitchen {
        font-family: "Caveat", cursive;
        font-size: 35px;
        margin-top: 163px;
        padding: 10px;
        animation-name: example;
        animation-duration: 2s;
        position: relative;
      }
      .text-pizza {
        font-size: 45px;
        font-weight: 900;
        color: white;
        font-family: "Lora", serif;
        animation-name: example1;
        animation-duration: 4s;
        position: relative;
      }
      .border-bottom {
        border-bottom: 4px solid #e58b07;
        width: 80px;
      }
      button {
        margin-top: 35px;
        color: white;
        background-color: #e58b07;
        width: 190px;
        height: 34px;
        font-size: 17px;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 4px;
        animation-name: example2;
        animation-duration: 6s;
        position: relative;
      }
      button:hover {
        cursor: pointer;
        background-color: #a56504;
        transition: 0.4s;
      }
    }
  }
}

@media all and (min-width: 650px) and (max-width: 750px) {
  .backgrond-body {
    height: 40vw;
    img {
      width: 100vw;
      height: 40vw;
      margin: 0 auto;
    }
    .bgc-body-img-zoom {
      animation: zoominoutsinglefeatured 20s alternate;
      display: block;
    }

    .container-body {
      span {
        margin: 0;
      }
      .text-kitchen {
        font-family: "Caveat", cursive;
        font-size: 30px;
        margin-top: 193px;
        padding: 10px;
        animation-name: example;
        animation-duration: 2s;
        position: relative;
      }
      .text-pizza {
        font-size: 40px;
        font-weight: 900;
        color: white;
        font-family: "Lora", serif;
        animation-name: example1;
        animation-duration: 4s;
        position: relative;
      }
      .border-bottom {
        border-bottom: 4px solid #e58b07;
        width: 80px;
      }
      button {
        margin-top: 35px;
        color: white;
        background-color: #e58b07;
        width: 180px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 4px;
        animation-name: example2;
        animation-duration: 6s;
        position: relative;
      }
      button:hover {
        cursor: pointer;
        background-color: #a56504;
        transition: 0.4s;
      }
    }
  }
}

@media all and (min-width: 550px) and (max-width: 650px) {
  .backgrond-body {
    height: 40vw;
    img {
      width: 100vw;
      height: 40vw;
      margin: 0 auto;
    }
    .bgc-body-img-zoom {
      animation: zoominoutsinglefeatured 20s alternate;
      display: block;
    }

    .container-body {
      span {
        margin: 0;
      }
      .text-kitchen {
        font-family: "Caveat", cursive;
        font-size: 25px;
        margin-top: 229px;
        padding: 10px;
        animation-name: example;
        animation-duration: 2s;
        position: relative;
      }
      .text-pizza {
        font-size: 33px;
        font-weight: 900;
        color: white;
        font-family: "Lora", serif;
        animation-name: example1;
        animation-duration: 4s;
        position: relative;
      }
      .border-bottom {
        border-bottom: 4px solid #e58b07;
        width: 80px;
      }
      button {
        margin-top: 27px;
        color: white;
        background-color: #e58b07;
        width: 155px;
        height: 24px;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 4px;
        animation-name: example2;
        animation-duration: 6s;
        position: relative;
      }
      button:hover {
        cursor: pointer;
        background-color: #a56504;
        transition: 0.4s;
      }
    }
  }
}

@media all and (min-width: 450px) and (max-width: 550px) {
  .backgrond-body {
    height: 40vw;
    img {
      width: 100vw;
      height: 40vw;
      margin: 0 auto;
    }
    .bgc-body-img-zoom {
      animation: zoominoutsinglefeatured 20s alternate;
      display: block;
    }

    .container-body {
      span {
        margin: 0;
      }
      .text-kitchen {
        font-family: "Caveat", cursive;
        font-size: 19px;
        margin-top: 259px;
        padding: 10px;
        animation-name: example;
        animation-duration: 2s;
        position: relative;
      }
      .text-pizza {
        font-size: 25px;
        font-weight: 900;
        color: white;
        font-family: "Lora", serif;
        animation-name: example1;
        animation-duration: 4s;
        position: relative;
      }
      .border-bottom {
        border-bottom: 3px solid #e58b07;
        width: 70px;
      }
      button {
        margin-top: 20px;
        color: white;
        background-color: #e58b07;
        width: 150px;
        height: 22px;
        font-size: 13px;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 4px;
        animation-name: example2;
        animation-duration: 6s;
        position: relative;
      }
      button:hover {
        cursor: pointer;
        background-color: #a56504;
        transition: 0.4s;
      }
    }
  }
}

@media all and (min-width: 350px) and (max-width: 450px) {
  .backgrond-body {
    height: 40vw;
    img {
      width: 100vw;
      height: 40vw;
      margin: 0 auto;
    }
    .bgc-body-img-zoom {
      animation: zoominoutsinglefeatured 20s alternate;
      display: block;
    }

    .container-body {
      span {
        margin: 0;
      }
      .text-kitchen {
        font-family: "Caveat", cursive;
        font-size: 17px;
        margin-top: 289px;
        padding: 10px;
        animation-name: example;
        animation-duration: 2s;
        position: relative;
      }
      .text-pizza {
        font-size: 23px;
        font-weight: 900;
        color: white;
        font-family: "Lora", serif;
        animation-name: example1;
        animation-duration: 4s;
        position: relative;
      }
      .border-bottom {
        border-bottom: 3px solid #e58b07;
        width: 60px;
      }
      button {
        margin-top: 15px;
        color: white;
        background-color: #e58b07;
        width: 120px;
        height: 20px;
        font-size: 12px;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 4px;
        animation-name: example2;
        animation-duration: 6s;
        position: relative;
      }
      button:hover {
        cursor: pointer;
        background-color: #a56504;
        transition: 0.4s;
      }
    }
  }
}
@media all and (min-width: 250px) and (max-width: 350px) {
  .backgrond-body {
    height: 40vw;
    img {
      width: 100vw;
      height: 40vw;
      margin: 0 auto;
    }
    .bgc-body-img-zoom {
      animation: zoominoutsinglefeatured 20s alternate;
      display: block;
    }

    .container-body {
      span {
        margin: 0;
      }
      .text-kitchen {
        font-family: "Caveat", cursive;
        font-size: 13px;
        margin-top: 316px;
        padding: 10px;
        animation-name: example;
        animation-duration: 2s;
        position: relative;
      }
      .text-pizza {
        font-size: 18px;
        font-weight: 900;
        color: white;
        font-family: "Lora", serif;
        animation-name: example1;
        animation-duration: 4s;
        position: relative;
      }
      .border-bottom {
        border-bottom: 2px solid #e58b07;
        width: 60px;
      }
      button {
        margin-top: 10px;
        color: white;
        background-color: #e58b07;
        width: 100px;
        height: 16px;
        font-size: 10px;
        font-weight: bold;
        border: 1px solid gray;
        border-radius: 4px;
        animation-name: example2;
        animation-duration: 6s;
        position: relative;
      }
      button:hover {
        cursor: pointer;
        background-color: #a56504;
        transition: 0.4s;
      }
    }
  }
}
