.backgrond-body-info {
  background-color: #0d0d0d;
  height: auto;
  width: 100vw;
  border-bottom: 1px solid rgb(134, 134, 134);
  border-top: 1px solid rgb(134, 134, 134);
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 40px;
}

.container-contact-style a {
  text-decoration: none;
  color: rgb(224, 162, 68);
  text-shadow: black 0.1em 0.1em 0.1em;
  font-size: 40px;
  font-family: "Caveat", cursive;
}
.backgrond-body-info {
  display: flex;
  .content-position {
    display: flex;
    width: 75vw;
    .content-info {
      margin-top: 50px;
      display: block;
      color: rgb(199, 198, 198);
      .styles-welcome p {
        text-align: center;
        color: rgb(224, 162, 68);
        text-shadow: black 0.1em 0.1em 0.1em;
        font-size: 40px;
        font-family: "Caveat", cursive;
      }
      .styles-contact {
        margin-top: 70px;
        padding-left: 20px;
        .styles-contact p {
          font-family: "Lora", serif;
        }
      }
      button {
        margin-top: 20px;
        color: white;
        background-color: #e58b07;
        width: 250px;
        height: 50px;
        font-size: 20px;
        margin-left: 20px;
        border: 1px solid gray;
        border-radius: 4px;
      }
      button:hover {
        cursor: pointer;
        background-color: #a56504;
        transition: 0.4s;
      }
    }
  }
}

@media all and (min-width: 800px) and (max-width: 995px) {
  .backgrond-body-info {
    padding-top: 20px;
    padding-bottom: 30px;
    .content-position {
      .content-info {
        margin-top: 50px;

        display: block;
        color: rgb(199, 198, 198);

        .styles-welcome p {
          text-align: center;
          color: rgb(224, 162, 68);
          text-shadow: black 0.1em 0.1em 0.1em;
          font-size: 36px;
          font-family: "Caveat", cursive;
        }
        .styles-contact {
          margin-top: 70px;
          padding-left: 20px;
          font-size: 14px;
          .styles-contact p {
            font-family: "Lora", serif;
          }
        }
        button {
          margin-top: 20px;
          color: white;
          background-color: #e58b07;
          width: 220px;
          height: 40px;
          font-size: 18px;
          margin-left: 20px;
          border: 1px solid gray;
          border-radius: 4px;
        }
        button:hover {
          cursor: pointer;
          background-color: #a56504;
          transition: 0.4s;
        }
      }
    }
  }
}

@media all and (min-width: 700px) and (max-width: 800px) {
  .backgrond-body-info {
    padding-top: 10px;
    padding-bottom: 20px;
    .content-position {
      .content-info {
        margin-top: 50px;

        display: block;
        color: rgb(199, 198, 198);

        .styles-welcome p {
          text-align: center;
          color: rgb(224, 162, 68);
          text-shadow: black 0.1em 0.1em 0.1em;
          font-size: 32px;
          font-family: "Caveat", cursive;
        }
        .styles-contact {
          margin-top: 50px;
          padding-left: 20px;
          font-size: 14px;
          .styles-contact p {
            font-family: "Lora", serif;
          }
        }
        button {
          margin-top: 20px;
          color: white;
          background-color: #e58b07;
          width: 200px;
          height: 30px;
          font-size: 16px;
          margin-left: 20px;
          border: 1px solid gray;
          border-radius: 4px;
        }
        button:hover {
          cursor: pointer;
          background-color: #a56504;
          transition: 0.4s;
        }
      }
    }
  }
}

@media all and (min-width: 550px) and (max-width: 700px) {
  .backgrond-body-info {
    padding-top: 0px;
    padding-bottom: 20px;
    .content-position {
      .content-info {
        margin-top: 50px;

        display: block;
        color: rgb(199, 198, 198);

        .styles-welcome p {
          text-align: center;
          color: rgb(224, 162, 68);
          text-shadow: black 0.1em 0.1em 0.1em;
          font-size: 30px;
          font-family: "Caveat", cursive;
        }
        .styles-contact {
          margin-top: 50px;
          padding-left: 20px;
          font-size: 12px;
          .styles-contact p {
            font-family: "Lora", serif;
          }
        }
        button {
          margin-top: 20px;
          color: white;
          background-color: #e58b07;
          width: 190px;
          height: 26px;
          font-size: 14px;
          margin-left: 20px;
          border: 1px solid gray;
          border-radius: 4px;
        }
        button:hover {
          cursor: pointer;
          background-color: #a56504;
          transition: 0.4s;
        }
      }
    }
  }
}
@media all and (min-width: 400px) and (max-width: 550px) {
  .backgrond-body-info {
    padding-top: 0px;
    padding-bottom: 20px;
    .content-position {
      margin: 0 auto;
      text-align: left;
      .content-info {
        margin-top: 50px;
        display: block;
        color: rgb(199, 198, 198);

        .styles-welcome p {
          text-align: center;
          color: rgb(224, 162, 68);
          text-shadow: black 0.1em 0.1em 0.1em;
          font-size: 22px;
          font-family: "Caveat", cursive;
        }
        .styles-contact {
          padding-left: 10px;
          font-size: 12px;

          p {
            font-family: "Lora", serif;
          }
        }
        button {
          margin-top: 20px;
          color: white;
          background-color: #e58b07;
          width: 190px;
          height: 26px;
          font-size: 14px;
          margin-left: 20px;
          border: 1px solid gray;
          border-radius: 4px;
        }
        button:hover {
          cursor: pointer;
          background-color: #a56504;
          transition: 0.4s;
        }
      }
    }
  }
}
@media all and (min-width: 340px) and (max-width: 400px) {
  .backgrond-body-info {
    padding-top: 0px;
    padding-bottom: 20px;
    .content-position {
      .content-info {
        margin-top: 50px;

        display: block;
        color: rgb(199, 198, 198);

        .styles-welcome p {
          text-align: center;
          color: rgb(224, 162, 68);
          text-shadow: black 0.1em 0.1em 0.1em;
          font-size: 18px;
          font-family: "Caveat", cursive;
        }
        .styles-contact {
          padding-left: 30px;
          font-size: 12px;
          p {
            font-family: "Lora", serif;
          }
        }
        button {
          margin-top: 20px;
          color: white;
          background-color: #e58b07;
          width: 190px;
          height: 26px;
          font-size: 14px;
          margin-left: 50px;
          border: 1px solid gray;
          border-radius: 4px;
        }
        button:hover {
          cursor: pointer;
          background-color: #a56504;
          transition: 0.4s;
        }
      }
    }
  }
}

@media all and (min-width: 200px) and (max-width: 340px) {
  .backgrond-body-info {
    padding-top: 0px;
    padding-bottom: 20px;
    .content-position {
      .content-info {
        margin-top: 50px;

        display: block;
        color: rgb(199, 198, 198);

        .styles-welcome p {
          text-align: center;
          color: rgb(224, 162, 68);
          text-shadow: black 0.1em 0.1em 0.1em;
          font-size: 20px;
          font-family: "Caveat", cursive;
        }
        .styles-contact {
          padding-left: 30px;
          font-size: 12px;
          p {
            font-family: "Lora", serif;
          }
        }
        button {
          margin-top: 20px;
          color: white;
          background-color: #e58b07;
          width: 190px;
          height: 26px;
          font-size: 14px;
          margin-left: 30px;
          border: 1px solid gray;
          border-radius: 4px;
        }
        button:hover {
          cursor: pointer;
          background-color: #a56504;
          transition: 0.4s;
        }
      }
    }
  }
}
