.backgrond-body {
  margin: 0 auto;

  img {
    width: 100vw;
    height: 500px;
    margin: 0 auto;
    // opacity: 0.8;
  }
  .bgc-body-img-zoom {
    animation: smoothZoom 30s cubic-bezier(0.1, 0.5, 0.4, 0.3) both;
  }

  .container-body {
    margin-top: -320px;
    position: relative;
    display: block;
    text-align: center;
    span {
      color: rgb(224, 162, 68);
      text-shadow: black 0.1em 0.1em 0.1em;
    }
    .text-kitchen {
      font-family: "Dancing Script", cursive;
      font-size: 46px;
      padding: 10px;
    }
    .text-pizza {
      font-size: 65px;
      font-weight: 900;
      color: white;
      font-family: "Lora", serif;
    }
    .border-bottom {
      border-bottom: 4px solid #e58b07;
      width: 80px;
    }
    button {
      margin-top: 80px;
      color: white;
      background-color: #e58b07;
      width: 230px;
      height: 50px;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid gray;
      border-radius: 4px;
    }
    button:hover {
      cursor: pointer;
      background-color: #a56504;
      transition: 0.4s;
    }
  }
}
