.backgrond-body-footer-info {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 30px;
  background-color: black;
  margin: -25px auto;
  padding-top: 6px;
  p {
    color: rgb(185, 185, 185);
    font-size: 14px;
  }
}
