.backgrond-body-footer-info {
  display: flex;
  width: 100vw;
  height: 30px;
  background-color: black;
  padding-top: 5px;
  border-top: 1px solid orange;
  p {
    color: rgb(185, 185, 185);
    font-size: 14px;
  }
}
@media all and (min-width: 600px) and (max-width: 900px) {
  .backgrond-body-footer-info {
    height: 28px;
    margin: -4px auto;
    padding-top: 6px;
    p {
      font-size: 12px;
    }
  }
}
@media all and (min-width: 400px) and (max-width: 600px) {
  .backgrond-body-footer-info {
    height: 17px;
    padding-top: 3px;
    p {
      font-size: 8px;
    }
  }
}
@media all and (min-width: 200px) and (max-width: 400px) {
  .backgrond-body-footer-info {
    height: 13px;
    padding-top: 2px;
    p {
      font-size: 6px;
    }
  }
}
