.page-header {
  background-color: #151515;
  width: 100vw;
  height: 140px;

  border-bottom: 1px solid rgb(134, 134, 134);
  .ui_container {
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    .navigation {
      display: flex;
      .navigation-left {
        margin: 40px 2vw 40px 0;
        font-size: 24px;
        display: flex;
        li {
          list-style: none;
          margin: 13px 0.6vw;
          text-shadow: rgb(180, 151, 21) 0.1em 0.1em 0.1em;
        }
        .nav-menu {
          margin-top: 11px;
        }
        li:hover {
          cursor: pointer;
          color: rgb(209, 105, 45);
          transition: 0.5s;
        }
      }
      .navigation-right {
        margin: 40px 2vw;
        display: block;
        font-size: 24px;
        display: flex;
        li {
          display: inline-block;
          list-style: none;
          margin: 10px;
          padding: 3px 12px;
          text-shadow: rgb(180, 151, 21) 0.1em 0.1em 0.1em;
        }
        li:hover {
          cursor: pointer;
          color: rgb(209, 105, 45);
          transition: 0.5s;
        }
      }
      a {
        img {
          border: 1px solid #857325;
          border-radius: 90px;
          padding: 2px;
          height: 100px;
          margin: 20px;
        }
      }
    }
  }
}
