.page-header {
  background-color: #151515;
  width: 100vw;
  height: 140px;
  border-bottom: 1px solid rgb(134, 134, 134);
  .ui_container {
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    .navigation {
      display: flex;
      .navigation-left {
        margin: 40px 2vw 40px 0;
        font-size: 24px;
        display: flex;
        li {
          list-style: none;
          margin: 13px 0.6vw;
          text-shadow: rgb(180, 151, 21) 0.1em 0.1em 0.1em;
        }
        .nav-menu {
          margin-top: 11px;
        }
        li:hover {
          cursor: pointer;
          color: rgb(209, 105, 45);
          transition: 0.5s;
        }
      }
      .navigation-right {
        margin: 40px 2vw;
        font-size: 24px;

        li {
          display: inline-block;
          list-style: none;
          margin: 10px;
          padding: 3px 12px;
          text-shadow: rgb(180, 151, 21) 0.1em 0.1em 0.1em;
        }
        li:hover {
          cursor: pointer;
          color: rgb(209, 105, 45);
          transition: 0.5s;
        }
      }
      a {
        img {
          border: 1px solid #857325;
          border-radius: 90px;
          padding: 2px;
          height: 100px;
          margin: 20px;
        }
      }
    }
  }
}
@media all and (min-width: 750px) and (max-width: 995px) {
  .page-header {
    background-color: #151515;
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid rgb(134, 134, 134);
    .ui_container {
      color: white;
      text-decoration: none;
      text-align: center;

      .navigation {
        display: inline-flex;
        .navigation-left {
          margin: 25px 2vw 40px 0;
          font-size: 20px;
          li {
            list-style: none;
            margin: 13px 0.6vw;
            text-shadow: rgb(180, 151, 21) 0.1em 0.1em 0.1em;
          }
          .nav-menu {
            margin-top: 11px;
          }
          li:hover {
            cursor: pointer;
            color: rgb(209, 105, 45);
            transition: 0.5s;
          }
        }
        .navigation-right {
          margin: 25px 2vw;
          font-size: 20px;
          li {
            list-style: none;
            margin: 10px;
            padding: 3px 12px;
            text-shadow: rgb(180, 151, 21) 0.1em 0.1em 0.1em;
          }
          li:hover {
            cursor: pointer;
            color: rgb(209, 105, 45);
            transition: 0.5s;
          }
        }
        a {
          img {
            border: 1px solid #857325;
            border-radius: 90px;
            padding: 2px;
            height: 60px;
            margin: 20px 0;
          }
        }
      }
    }
  }
}

@media all and (min-width: 600px) and (max-width: 750px) {
  .page-header {
    background-color: #151515;
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid rgb(134, 134, 134);
    .ui_container {
      color: white;
      text-decoration: none;
      text-align: center;

      .navigation {
        display: inline-flex;
        .navigation-left {
          margin: 5px 0 40px 0;
          font-size: 20px;
          li {
            list-style: none;
            margin: 13px 0.6vw;
            text-shadow: rgb(180, 151, 21) 0.1em 0.1em 0.1em;
          }
          .nav-menu {
            margin-top: 11px;
          }
          li:hover {
            cursor: pointer;
            color: rgb(209, 105, 45);
            transition: 0.5s;
          }
        }
        .navigation-right {
          margin: 5px 0;
          font-size: 20px;
          li {
            list-style: none;
            margin: 10px;
            padding: 3px;
            text-shadow: rgb(180, 151, 21) 0.1em 0.1em 0.1em;
          }
          li:hover {
            cursor: pointer;
            color: rgb(209, 105, 45);
            transition: 0.5s;
          }
        }
        a {
          img {
            display: none;
            // position: absolute;
            // top: 0;
            // left: 0;
            // height: 40px;
          }
        }
      }
    }
  }
}

@media all and (min-width: 500px) and (max-width: 600px) {
  .page-header {
    display: none;
  }
}
