.active-link {
  background-color: rgb(255, 255, 255);
  color: #e96900 !important;
  font-weight: 900;
}
.container-menu {
  display: block;
  background-color: black;
  text-align: center;
  border-top: 1px solid #868686;
}

.menu-principal {
  padding-bottom: 40px;
}
.menu-change {
  display: inline-table;
  margin-top: 40px;
  height: 30px;
  border-bottom: 2px solid #ffffff;
  max-width: max-content;
}
.menu-change a {
  display: inline-flex;
  padding: 5px 6px;
  text-decoration: none;
  color: #e0a244;
}

.products {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-items: center;
}

.menuRow {
  padding: 10px 0px 12px 0px;
  display: grid;
}
.food {
  text-align: left;
  justify-content: left;
  width: 80vh;
  position: relative;
  border-bottom: 1px dotted #e0a244;
}

h1 {
  color: #c7c6c6;
  font-weight: 800;
  margin-top: 20px;
  text-transform: uppercase;
}

.name-info {
  display: block;
}

.p-name {
  margin-top: 5px;
  color: rgb(102, 101, 101);
}

.price {
  color: #e0a244;
  position: absolute;
  right: 0;
  bottom: 10px;
  padding-left: 5px;
  max-height: 18px;
}
