.active-link {
  background-color: rgb(255, 255, 255);
  color: #e96900 !important;
  font-weight: 900;
}
.container-menu {
  display: block;
  background-color: black;
  text-align: center;
  border-bottom: 6px solid #868686;
}
.menu-change {
  height: 30px;
  border-bottom: 2px solid #ffffff;
  max-width: max-content;
}
.menu-change a {
  display: inline-flex;

  margin: 0px 2px;
  padding: 5px 2px;
  text-decoration: none;
  color: #e0a244;
}

.products {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-items: center;
}

.menuRow {
  padding: 10px 0px 12px 0px;
}
.food {
  display: grid;
  width: 80vh;
  position: relative;
  border-bottom: 1px dotted #e0a244;
}

h1 {
  float: left;
  color: #c7c6c6;
  font-weight: 800;
  margin-top: 5px;
  text-shadow: none;
  text-transform: uppercase;
}

.p-name {
  display: block;
  color: #555;
}

.price {
  color: #e0a244;
  position: absolute;
  right: 0;
  bottom: 10px;
  padding-left: 5px;
  max-height: 18px;
}
