* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Lato", Sans-Serif;
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
}

.menu img {
  width: 100vw;
  margin: -1px 0;
}

.googlemap {
  margin-top: 20px;
}

@import "./scss/mainPages";
@import "./scss/containerBody";
@import "./scss/containerInfo";
@import "./scss/containerGallery";
@import "./scss/footer";
@import "./scss/footerInfo";
@import "./scss/containerTransport";
@import "./scss/containerPromotion";
