* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Lato", Sans-Serif;
}

body {
  overflow: overlay;
}

@import "./scss/mainPages";
@import "./scss/containerBody";
@import "./scss/containerInfo";
@import "./scss/containerGallery";
@import "./scss/footer";
@import "./scss/footerInfo";
